.page {
  background-color: #EFF3FC;
  height: calc(100vh - 50px);
  overflow-y: auto;
}

body {
  height: 100vh
}

#root {
  height: 100vh;
}

.header {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
